# Framework
fastapi
uvicorn[standard]

# Database
sqlalchemy
psycopg2-binary
databases

# Validation / Settings
pydantic
pydantic-settings
email-validator

# Auth / Security
python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-multipart
python-magic 

# Cache
redis
aioredis

# Environment variables
python-dotenv

# Email
fastapi-mail[aiofiles]  # para enviar emails async

# Utilities
python-multipart
python-magic  # opcional, para validar tipos de archivos