# Framework
fastapi
uvicorn[standard]

# Database
sqlalchemy
psycopg2-binary

# Validation / Settings
pydantic
pydantic-settings
email-validator

# Auth / Security
python-jose[cryptography]
passlib[bcrypt]
bcrypt

# Cache
redis

# Environment variables
python-dotenv
